#rating-confidences .output-label>div:not(:first-child) {
    cursor: pointer;
}

#tag-confidences .output-label>div:not(:first-child) {
    cursor: pointer;
}

#rating-confidences .output-label>div:not(:first-child):hover {
    background-color: #f5f5f5;
}

#tag-confidences .output-label>div:not(:first-child):hover {
    background-color: #f5f5f5;
}

#rating-confidences .output-label>div:not(:first-child):active {
    background-color: #e6e6e6;
}

#tag-confidences .output-label>div:not(:first-child):active {
    background-color: #e6e6e6;
}

#a:hover {
    background-color: #f5f5f5;
}
#a:active {
    background-color: #e6e6e6;
}

